@page "/"
@inject NavigationManager NavigationManager
<h1>New Entry</h1>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="goToUrl">GoTo: Quill JS</MudButton>

@code {
    private void goToUrl()
    {
        NavigationManager.NavigateTo("https://quilljs.com/docs/quickstart/");
    }
}
```